---
global:
  # Default: 'lmutil'
  lmutil: '/path/to/lmutil'

# flexlm - List of FlexLM/FlexNet based licenses
flexlm:
    # name - Name of the license, mandatory
  - name: 'license1'
    # license - Path to license file or port@server
    license: '/path/to/license/file or port@server'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'excl_1'
      - 'excl_2'
    # export_user - Export user names, default is False
    export_user: True

# rlm - List of RLM based licenses
rlm:
    # name - Name of the license, mandatory
  - name: 'rlm_license'
    # license - Query RLM license at port@server
    # Note: For master/failover setups, the master server *MUST* come first!
    license: 'port@server'
    # isv - Name of the ISV to query. Mandatory because a RLM instance can host multiple ISV servers
    isv: 'isv'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'e1'
      - 'e2'
    # export_user - Export user names, default is False
    export_user: True

