---
global:
    # Default: 'DSLicSrv'
    dslicsrv: '/path/to/DSLicSrv'
    # Default: 'licman20_appl'
    licman20_appl: '/path/to/licman20_appl'
    # Default: 'lmxendutil'
    lmxendutil: '/path/to/lmxendutil'
    # Default: 'lmutil'
    lmutil: '/path/to/lmutil'
    # Default: 'rlmutil'
    rlmutil: '/path/to/rlmutil'

# dsls - List of DSLS based licenses
dsls:
    # name - Name of the license, mandatory
  - name: 'dsls_license'
     # license - Query DSLS license at port@server, multiple servers for a high availability setup can be separted by ':'
    license: 'port@server1:port@server2:port@server3'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'e1'
      - 'e2'
    # export_user - Export user names, default is False
    export_user: True

# flexlm - List of FlexLM/FlexNet based licenses
flexlm:
    # name - Name of the license, mandatory
  - name: 'license1'
    # license - Path to license file or port@server
    license: '/path/to/license/file or port@server'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'excl_1'
      - 'excl_2'
    # export_user - Export user names, default is False
    export_user: True

# hasp - HASP based licenses
hasp:
    # name - Name of the license, mandatory
  - name: 'dongle1'
    # For password protected access
    authentication:
        username: 'user'
        password: 'pass'
    # license - license server
    license: 'port@server'
    # hasp_key - HASP id of the dongle, mandatory
    hasp_key: 'haspid'
    # export_user - Export user names, default is False
    export_user: true
    # exclude_features: List if feature IDs to be excluded. Note: Specify *feature ID* instead of feature names because name are not mandatory and can be set using a vendor provided V2C file
    exclude_features:
      - 'id1'

# licman20 - Licman 20 licenses
licman20:
    # name - Name of the license, mandatory
  - name: 'appl'
    # export_user - Export user names, default is False
    export_user: true
    # exclude_features: List if product keys to be excluded. Note: Specify *product keys* instead of feature names because name are listed as comments and are not mandatory
    exclude_features:
      - 'product_id_1'

# lmx - List of LM-X based licenses
lmx:
    # name - Name of the license, mandatory
  - name: 'lmx_license'
     # license - Query RLM license at port@server, see note below about LM-X and high available licenses
    license: 'port@server1:port@server2:port@server3'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'e1'
      - 'e2'
    # export_user - Export user names, default is False
    export_user: True

# rlm - List of RLM based licenses
rlm:
    # name - Name of the license, mandatory
  - name: 'rlm_license'
    # license - Query RLM license at port@server
    # Note: For master/failover setups, the master server *MUST* come first!
    license: 'port@server'
    # isv - Name of the ISV to query. Mandatory because a RLM instance can host multiple ISV servers
    isv: 'isv'
    # excluded_features - List of features to be excluded
    excluded_features:
      - 'e1'
      - 'e2'
    # export_user - Export user names, default is False
    export_user: True
